@font-face {
  font-family: "JetBrains Mono";
  src: url("assets/fonts/JetBrains/JetBrainsMono[wght].ttf") format("truetype");
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("assets/fonts/JetBrains/JetBrainsMono-Italic[wght].ttf")
    format("truetype");
  font-style: italic;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "JetBrains Mono", monospace;
}
